page-home {

}

.bg {
  background-image: url('../../assets/ooc-background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  z-index: 2;
  position: relative;
}
